extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='username') Username: 
    input(type='text', name='username')
    br
    label(for='password') Password: 
    input(type='password', name='password')
    br
    label(for='user_level') User Level: 
    select(type='text', name='user_level')
      option(value='regular') Regular
      option(value='admin') Admin
    br
    label(for='email') Email: 
    input(type='text', name='email')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    label(for='question1') Pick the best pizza topping:
    br
    select(name='ans1')
      option(value="Pineapple") Pineapple
      option(value="Veggies") Veggies
      option(value="Pepperoni") Pepperoni
      option(value="Sausage") Sausage
    br    
    label(for='question2') In your opinion, what is the most important meal of the day?
    br
    select(name='ans2')
      option(value="Breakfast") Breakfast
      option(value="Lunch") Lunch
      option(value="Dinner") Dinner
    br
    label(for='question3') Pick the best beverage:
    br
    select(name='ans3')
      option(value="Water") Water
      option(value="Soda") Soda
      option(value="Juice") Juice
      option(value="Sweet Tea") Sweet Tea
    br
    input(type='submit', value='Add User')