extends layout

block content
  form(id='form', method='post', action='/edit/' + person.id)
    label(for='username') Username: 
    input(type='text', name='username' value=person.username)
    br
    label(for='password') Password: 
    input(type='text', name='password' value='')
    br
    label(for='email') Email: 
    input(type='text', name='email' value=person.email)
    br
    label(for='age') Age: 
    input(type='text', name='age' value=person.age)
    br
    select(name='ans1')
      option(value="Pineapple") Pineapple
      option(value="Veggies") Veggies
      option(value="Pepperoni") Pepperoni
      option(value="Sausage") Sausage
    br    
    label(for='question2') In your opinion, what is the most important meal of the day?
    br
    select(name='ans2')
      option(value="Breakfast") Breakfast
      option(value="Lunch") Lunch
      option(value="Dinner") Dinner
    br
    label(for='question3') Pick the best beverage:
    br
    select(name='ans3')
      option(value="Water") Water
      option(value="Soda") Soda
      option(value="Juice") Juice
      option(value="Sweet Tea") Sweet Tea
    br
    input(type='submit', value='Update Info')
