doctype
html
    head
        title
    body
        form(method='post', action='/')
            label(for='username') Username:
            br
            input(name='username')
            p
            label(for='password') Password:
            br
            input(name='password', type='password')
            p
            p #{errorMsg}
            input(type='submit', value='Enter')
